{% extends "base.html" %}

{% block head %}
  <script src="{{ url_for('static', filename='map.js') }}"></script>
  <script>
    window.addEventListener("load", function() {
      mapSetup("baseImage", "mapImage");
    });
  </script>
{% endblock %}

{% block content %}
  <p><a href="{{ url_for('data_raw', id=file.id, slug=file.slug, type=file.type) }}">(raw)</a></p>
  <p><a href="{{ url_for('meta', id=file.id, slug=file.slug) }}">(meta)</a></p>

  {% if file.type.lower() == 'txt' %}
    <pre>
      {{ data }}
    </pre>
  {% else %}
    <a href="{{ url_for('data_raw', id=file.id, slug=file.slug, type=file.type) }}">
      <img id="baseImage" class="centerpiece" src="{{ url_for('data_raw', id=file.id, slug=file.slug, type=file.type) }}">
      <img id="mapImage" src="{{ url_for('map_raw', id=file.id, slug=file.slug) }}">
    </a>

  {% endif %}
{% endblock %}
