{% extends "base.html" %}
{% import 'widgets.html' as widgets %}

{% block content %}
  <div class="container">
    Showing {{ ((pagination.page - 1) * pagination.per_page + 1)|humanize('intcomma') }} - {{ [pagination.page * pagination.per_page, pagination.total]|min|humanize('intcomma') }} of {{ pagination.total|humanize('intcomma') }} products, total size: {{ size|humanize('naturalsize') }}
  </div>

  <br>

  <div class="field is-grouped is-grouped-multiline">
    {% for name, values in filtervalues.items() %}
      {% if filters.get(name) != values[0] %}
        <div class="select is-small">
          <select name="{{ name }}" onchange="location = this.value;">
            <option value="{{ url_for_filters() }}">filter on {{ name }}...</option>
            {% for value in values %}
              <option value="{{ url_for_filters(**{name: value}) }}">{{ value|lower }}</option>
            {% endfor %}
          </select>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <br>

  <div class="field is-grouped is-grouped-multiline">
    {% set deactivate = {} %}
    {% for name, values in filtervalues.items() %}
      {% if filters.get(name) == values[0] %}
        <div class="control">
          <div class="tags has-addons">
            <span class="tag">{{ name }}</span>
            <span class="tag is-info">
              {{ values[0] }}
              <a class="delete is-small" href="{{ url_for_filters(**{name: None}) }}"></a>
            </span>
          </div>
        </div>
        {% set dummy = deactivate.__setitem__(name, None) %}
      {% endif %}
    {% endfor %}
    {% if deactivate %}
      <div class="control">
        <a class="button is-danger is-outlined is-small" href="{{ url_for_filters(**deactivate) }}">clear all filters</a>
      </div>
      <br>
    {% else %}
    {% endif %}
  </div>

  <br>

  {{ widgets.render_pagination(pagination) }}

  <br>
  
  <table class="table is-striped is-narrow is-fullwidth is-hoverable">
    <tr>
      <th class="has-text-centered">Date</th>
      <th colspan="2" class="has-text-centered">Size</th>
      <th>Source</th>
      <th>Region</th>
      <th>Channel</th>
      <th><!-- type --></th>
      <th>URL</th>
      <th><!-- other files --></th>
    </tr>
    {% for product in products %}
      <tr>
        <td class="has-text-centered"><abbr title="{{ product.localdate.strftime('%a %b %d, %Y, %I:%M:%S %p %Z') }}">{{ product.localdate.replace(tzinfo=None)|humanize() }}</abbr></td>
        {% set nicesize = product.get_file('MAIN').size|humanize('naturalsize') %}
        {% set nicesizeparts = nicesize.split() %}
        <td class="has-text-right">{{ nicesizeparts[0] }}</td>
        {% if nicesizeparts[1].lower().startswith('byte') %}
          <td>B</td>
        {% else %}
          <td>{{ nicesizeparts[1] }}</td>
        {% endif %}
        <td>{{ product.source }}</td>
        <td>{% if product.region %}{{ product.region }}{% endif %}</td>
        <td>{% if product.channel %}{{ product.channel }}{% endif %}</td>
        <td class="has-text-right">
          {% if product.type == ProductType.MAP %}
            {% if product.style == MapStyle.ENHANCED %}
              <span class="icon-enhanced" title="enhanced"></span>
            {% elif product.style == MapStyle.FALSECOLOR %}
              <span class="icon-falsecolor" title="false color"></span>
            {% endif %}
          {% endif %}
          <span class="icon-{{ product.type.name|lower }}" title="{{ product.type.name|lower }}"></span>
        </td>
        <td><a href="{{ url_for_file(product.get_file(FileType.MAIN)) }}">{{ product.name }}.{{ product.ext }}</a></td>
        <td class="has-text-centered">
          {% for file in product.files|sort(attribute='type') %}
            {% if file.type != FileType.MAIN and not file.type.hidden %}
              <a href="{{ url_for_file(file) }}">
                <span class="icon-{{ file.type.name|lower }}" title="{{ file.type.name|lower }}"></span>
              </a>
            {% endif %}
          {% endfor %}
        </td>
      </tr>
    {% endfor %}
  </table>
  
  {{ widgets.render_pagination(pagination) }}
{% endblock %}
