{% extends "base.html" %}
{% import 'widgets.html' as widgets %}

{% block content %}
  <div class="container">
    Showing {{ ((pagination.page - 1) * pagination.per_page + 1)|humanize('intcomma') }} - {{ [pagination.page * pagination.per_page, pagination.total]|min|humanize('intcomma') }} of {{ pagination.total|humanize('intcomma') }} files, total size: {{ size|humanize('naturalsize') }}
  </div>

  <br>

  <div class="field is-grouped is-grouped-multiline">
    {% for name, values in filtervalues.items() %}
      {% if request.args.get(name) != values[0] %}
        <div class="select is-small">
          <select name="{{ name }}" onchange="location = this.value;">
            <option value="{{ url_for_args() }}">filter on {{ name }}...</option>
            {% for value in values %}
              <option value="{{ url_for_args(**{name: value}) }}">{{ value }}</option>
            {% endfor %}
          </select>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <br>

  <div class="field is-grouped is-grouped-multiline">
    {% set deactivate = {} %}
    {% for name, values in filtervalues.items() %}
      {% if request.args.get(name) == values[0] %}
        <div class="control">
          <div class="tags has-addons">
            <span class="tag">{{ name }}</span>
            <span class="tag is-info">
              {{ values[0] }}
              <a class="delete is-small" href="{{ url_for_args(**{name: None}) }}"></a>
            </span>
          </div>
        </div>
        {% set dummy = deactivate.__setitem__(name, None) %}
      {% endif %}
    {% endfor %}
    {% if deactivate %}
      <div class="control">
        <a class="button is-danger is-outlined is-small" href="{{ url_for_args(page=None, **deactivate) }}">clear all filters</a>
      </div>
      <br>
    {% else %}
    {% endif %}
  </div>

  <br>

  {{ widgets.render_pagination(pagination) }}

  <br>
  
  <table class="table is-striped is-narrow is-fullwidth is-hoverable">
    <tr>
      <th colspan="2" class="has-text-centered">Date</th>
      <th></th>
      <th colspan="2" class="has-text-centered">Size</th>
      <th>Type</th>
      <th>Source</th>
      <th>Region</th>
      <th>Channel</th>
      <th><!-- extras --></th>
      <th>URL</th>
    </tr>
    {% for file in files %}
      <tr>
        <td class="has-text-right">{{ file.localdate.strftime('%a %b %d, %Y') }}</td>
        <td>{{ file.localdate.strftime('%I:%M:%S %p %Z') }}</td>
        <td>{{ file.localdate.replace(tzinfo=None)|humanize() }}</td>
        {% set nicesize = file.get_product('MAIN').size|humanize('naturalsize') %}
        {% set nicesizeparts = nicesize.split() %}
        <td class="has-text-right">{{ nicesizeparts[0] }}</td>
        {% if nicesizeparts[1].lower().startswith('byte') %}
          <td>B</td>
        {% else %}
          <td>{{ nicesizeparts[1] }}</td>
        {% endif %}
        <td>{{ file.type }}</td>
        <td>{{ file.source }}</td>
        <td>{% if file.region %}{{ file.region }}{% endif %}</td>
        <td>{% if file.channel %}{{ file.channel }}{% endif %}</td>
        <td>
          {% for prod in file.products|sort(attribute='type') %}
            {% if prod.type != ProductType.MAIN %}
              <a href="{{ url_for_product(prod) }}">[{{ prod.type.name.upper()[0] }}]</a>
            {% endif %}
          {% endfor %}
        </td>
        <td><a href="{{ url_for_product(file.get_product(ProductType.MAIN)) }}">{{ file.name }}.{{ file.type }}</a></td>
      </tr>
    {% endfor %}
  </table>
  
  {{ widgets.render_pagination(pagination) }}
{% endblock %}
