{% extends "base.html" %}

{% block head %}
  {% if file.projection and product.ext == 'jpg' %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bulmaswatch.min.css') }}">
    <script src="{{ url_for('static', filename='map.js') }}"></script>
    <script>
      window.addEventListener("load", function() {
        mapSetup("baseImage", "mapImage");
      });
    </script>
  {% endif %}
  
  {% if product.ext == 'json' %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('highlight_css') }}">
  {% endif %}
{% endblock %}

{% block content %}
  <h2 class="subtitle">{{ file.name }}.{{ file.type }}</h2>

  <div class="tabs">
    <ul>      
      {% for prod in file.products|sort(attribute='type') %}
        <li{% if prod.id == product.id %} class="is-active"{% endif %}><a href="{{ url_for_product(prod) }}">{{ prod.type.name|capitalize }}</a></li>
      {% endfor %}
    </ul>
  </div>

  <nav class="level">
    <div class="level-left">
      <div class="level-item">
        Size: {{ product.size|humanize('naturalsize') }}
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <a class="button is-link is-outlined is-small" href="{{ url_for_product(product, raw=True) }}">Raw</a>
      </div>
    </div>
  </nav>

  {% if product.ext == 'txt' %}
    <pre>{{ content }}</pre>
  {% elif product.ext == 'json' %}
    {% highlight 'json' %}{{ content }}{% endhighlight %}
  {% else %}
    <a href="{{ url_for_product(product, raw=True) }}">
      <img id="baseImage" class="centerpiece" src="{{ url_for_product(product, raw=True) }}">
      {% if file.projection %}
        <img id="mapImage" src="{{ url_for('map', id=file.projection_id) }}">
      {% endif %}
    </a>
  {% endif %}
{% endblock %}
